
.clear{
    clear:both;
}
#header
{
    height: auto;
}

#wsnSlider {
	position:relative;
	width:800px;
	
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
}
#wsnSlider .buttons {
	margin:0 0 3px 0;
	padding:5px;
	list-style:none;
	position:absolute;
	bottom:10px;
	right:10px;
	z-index:200;
	visibility:hidden;
}
#wsnSlider .buttons li {
	border:2px solid #000;
	width:15px;
	text-align:center;
	float:left;
}
#wsnSlider .buttons li a {
	background-color:#fff;
	color:#333;
	display:block;
	font-size:0.8em;
	text-decoration:none;
	padding:2px;
}
#wsnSlider .buttons li a:hover {
	background-color:#C96;
}
#wsnSlider .buttons li.current a {
	background-color:#aaa;
}